Source: pardus-xfce-settings
Section: xfce
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>= 9), intltool
Standards-Version: 3.9.8
Homepage: http://pardus.org.tr

Package: pardus-xfce-settings
Architecture: all
Pre-Depends: ${misc:Pre-Depends}, pardus-x11-settings
Depends: ${misc:Depends},
 elementary-xfce-icon-theme,
 lightdm-gtk-greeter, 
 adwaita-icon-theme,
 x11-common,
 xfce4-session,
 xfconf
Recommends: libxfce4ui-utils
Provides: lightdm-gtk-greeter-config
Description: default settings for the Pardus desktop
 This package contains the default settings used by Pardus.

Package: pardus-xfce-live-settings
Architecture: all
Depends: ${misc:Depends}, pardus-xfce-settings
Description: configuration for the Paruds live cd
 This package contains live cd customizations used by Pardus.
